Repository toshi-pono/aiotraq, pull requests merged in 2024-06, with the labels that each got.

#4 📚 CIが通ったbadgeを追加
  README.md
  libs/aiotraq/README.md
  libs/aiotraq/pyproject.toml
  libs/bot/README.md
  libs/bot/pyproject.toml
  pyproject.toml
Labels: documentation, aiotraq, aiotraq-bot

#8 Componentの引数を可変に
  examples/message.py
  libs/message/README.md
  libs/message/aiotraq_message/engine.py
  libs/message/aiotraq_message/manager.py
Labels: documentation, enhancement, aiotraq-message

#9 画像送信を実装
  .github/workflows/_lint.yml
  examples/message.py
  libs/message/README.md
  libs/message/aiotraq_message/engine.py
  libs/message/aiotraq_message/manager.py
  libs/message/aiotraq_message/message.py
  libs/message/aiotraq_message/utils.py
  libs/message/poetry.lock
  libs/message/pyproject.toml
  poetry.lock
  pyproject.toml
Labels: documentation, enhancement, aiotraq-message

#10 DataFrameに対応
  examples/message.py
  libs/message/README.md
  libs/message/aiotraq_message/message.py
  libs/message/poetry.lock
  libs/message/pyproject.toml
  poetry.lock
  pyproject.toml
Labels: documentation, enhancement, aiotraq-message

#11 ✨ READMEを修正
  libs/message/README.md
Labels: documentation, enhancement, aiotraq-message

#12 Docsのベースを追加
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/api/_category_.json
  docs/docs/api/bot.md
  docs/docs/api/client.md
  docs/docs/guides/_category_.json
  docs/docs/guides/bot.md
  docs/docs/guides/client.md
  docs/docs/guides/message.md
  docs/docs/intro.md
  docs/docs/overview.svg
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/.nojekyll
  docs/static/img/aiotraq.png
  docs/static/img/aiotraq.svg
  docs/static/img/component.svg
  docs/static/img/favicon.svg
  docs/static/img/ogp.png
  docs/tsconfig.json
Labels: documentation, enhancement

#14 ドキュメントを加筆
  docs/docs/api/bot-event.md
  docs/docs/api/bot.md
  docs/docs/api/components/_category_.json
  docs/docs/api/components/am.image.md
  docs/docs/api/components/am.write.md
  docs/docs/api/components/img/am.image.png
  docs/docs/api/components/img/am.write.png
  docs/docs/api/components/overview.md
  docs/docs/guides/_category_.json
  docs/docs/guides/bot.md
  docs/docs/guides/client.md
  docs/docs/guides/message.md
  docs/docs/intro.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/src/theme/Admonition/Types.tsx
Labels: documentation

#15 ✨ ドキュメントに情報と画像を追加
  README.md
  libs/aiotraq/README.md
  libs/bot/README.md
  libs/message/README.md
Labels: documentation, aiotraq, aiotraq-bot, aiotraq-message

#16 ドキュメント内検索に対応
  docs/docusaurus.config.ts
Labels: documentation

#17 📝 fix intro sample code
  docs/docs/intro.md
Labels: bug, documentation

#18 ⚡️ TraqMessage.stampの実装
  libs/message/aiotraq_message/engine.py
  libs/message/aiotraq_message/message.py
Labels: aiotraq, aiotraq-message

#19 ⚡️ impl remove_stamp
  libs/message/aiotraq_message/engine.py
  libs/message/aiotraq_message/message.py
Labels: aiotraq-message
